<div class='users-container'>
  <% @users.each do |user| %>
    <%= link_to user_path(user), class: 'user-link' do %>
      <div class='user-container'>
        <div class='user-photo'>
          <%= image_tag user.photo %>
        </div>
        <div class='user-infos'>
          <p class='user-name'><%= user.name %></p>
          <p class='number-of-posts'>Number of posts: <%= user.posts_counter %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>